.venv/
__pycache__/
*.py[cod]
*$py.class

db.sqlite3
*.sqlite3

.env
.env.*

staticfiles/
media/

.idea/

node_modules/
dist/
build/
.next/
coverage/
cypress/screenshots/
cypress/videos/
backend/openapi-schema.yml
